<div class="author-share">
  <div class="author-share-bio">
    <a href="{{ site.url }}">
      {% include image.html path=site.thumbnail_path alt=site.name class="author-avatar" %}
    </a>
    <div>
      <a href="{{ site.url }}"><h3 class="author-name">{{ site.name }}</h3></a>
      <p class="author-bio h5">
        Full-stack web developer. I write about programming, software engineering and other cool stuff.
      </p>
    </div>
  </div>
  <div class="author-share-share">
    <h3 class="mono">share</h3>
    {% include share-buttons.html %}
  </div>
</div>
