<div class="container">
    {% include header-h1.html %}

    <h4><a href="https://spoti.fi/2zynvf7" target="_blank" class="gray hint--top" data-hint="Spotify">
        <i class="fa fa-fw fa-lg fa-spotify"></i>
    </a>
        <a href="https://bit.ly/3aAsLeY" target="_blank" class="gray hint--top" data-hint="Youtube">
            <i class="fa fa-fw fa-lg fa-youtube"></i>
        </a>
        <a href="https://soundcloud.com/marat5551" target="_blank" class="gray hint--top" data-hint="Soundcloud">
            <i class="fa fa-fw fa-lg fa-soundcloud"></i>
        </a></h4>
</div>
