<div class="container clearfix">
    {% include header-h1.html %}
    <a href="https://spoti.fi/2zynvf7" target="_blank" class="col dark-gray" data-hint="Spotify">
        <i class="fa fa-fw fa-2x fa-spotify valign-middle"></i>
    </a>
    <a href="https://bit.ly/3aAsLeY" target="_blank" class="col dark-gray" data-hint="Youtube">
        <i class="fa fa-fw fa-2x fa-youtube valign-middle"></i>
    </a>
    <a href="https://soundcloud.com/marat5551" target="_blank" class="col dark-gray" data-hint="Soundcloud">
        <i class="fa fa-fw fa-2x fa-soundcloud valign-middle"></i>
    </a>
</div>
