<nav class="pagination mono h6" role="navigation" aria-label="Pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      {% assign prev_href = "/blog" %}
    {% else %}
      {% capture prev_href %}/blog/page{{ paginator.previous_page }}/{% endcapture %}
    {% endif %}
    <a href="{{ prev_href }}" class="pagination-link">&larr; newer</a>
  {% else %}
    <span class="pagination-link is-disabled">&larr; newer</span>
  {% endif %}
  <span class="pagination-info">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/page{{ paginator.next_page }}/" class="pagination-link">older &rarr;</a>
  {% else %}
    <span class="pagination-link is-disabled">older &rarr;</span>
  {% endif %}
</nav>
