{% capture post_title_element %}{% if include.post_title_element %}{{ include.post_title_element }}{% else %}h2{% endif %}{% endcapture %}
<article class="post-row{% unless include.exclude_divider %} post-row--divided{% endunless %}">
  <a href="{{ include.post.url }}" class="post-row-link">
    <time class="post-row-date" datetime="{{ include.post.date | date:'%Y-%m-%d' }}">{{ include.post.date | date:'%Y-%m-%d' }}</time>
    <div class="post-row-main">
      <{{ post_title_element }} class="post-row-title">{{ include.post.title }}</{{ post_title_element }}>
      {% if include.post.tags.size > 0 %}
        <div class="post-row-tags mono">{% for tag in include.post.tags %}#{{ tag }} {% endfor %}</div>
      {% endif %}
    </div>
    {% if include.post.thumbnail_path %}
      {% include image.html path=include.post.thumbnail_path alt=include.post.title class="post-row-thumb" %}
    {% endif %}
  </a>
</article>
